*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 10% 10px 10%;
    background-color: #1f2937;
}

.header-left{
    color: #f9faf8;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 900;
}

.header ul{
    list-style: none;
    display: flex;
    gap: 20px;
    color: #E5E7EB;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: inherit;
}

/* HERO */
.hero{
    display: flex;
    justify-content: space-between;
    padding: 5% 10% 5% 10%;
    background-color: #1f2937;
}

.hero-left{
    flex: 1;
}
.hero-left h1{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    font-family: sans-serif;
    margin: 0 10px 10px 0;
}
.hero-left p{
    color: #E5E7EB;
    font-size: 18px;
    margin: 0 10px 10px 0;
}

.hero-left button{
    height: 30px;
    background-color: #3882F6;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 7px;
    padding: 5px 20px 5px 20px;
}

.hero-right{
    flex: 1;
    display: flex;
    justify-content: center;
}

img{
    max-width: 500px;
    width: 100%;
    height: auto;
}

/* CONTENT 1 */
.content-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 15% 2% 15%;
}

.second-title h2{
    font-weight: 800;
    font-size: 36px;
    color: #1f2937;
    font-family: sans-serif;
}

.cards{
    display: flex;
    gap: 50px;
    margin-top: 3%;
    justify-content: center;
}

.cards *{
    text-align: center;
    max-width: 250px;
}

.card-image{
    width: 125px;
    height: 125px;
    border: 2px solid #3882F6;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* CONTENT 2 */
.content-2{
    display: flex;
    flex-direction: column;
    padding: 5% 20% 5% 20%;
    background-color: #E5E7EB;
}

.quote{
    font-family: 'verdana', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 10px;
}

.author{
    font-family: 'verdana', sans-serif;
    align-self: flex-end;
    font-size: 25px;
    font-weight: 800;
}

/* CONTENT 3 */
.content-3{
    padding: 10px 10% 10px 10%;
}

.banner{
    display: flex;
    justify-content: space-between;
    padding: 10px 10% 10px 10%;
    background-color: #3882F6;
    margin: 5% 0 5% 0;
    border-radius: 5px;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
}

.banner-button{
    height: 30px;
    background-color: #3882F6;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 7px;
    border-color: white;
    padding: 5px 20px 5px 20px;
}

.call-to-action{
    color: #E5E7EB;
}

.call-to-action h3{
    font-family: sans-serif;
    font-weight: 800;
}

/* FOOTER */
.footer{
    display: flex;
    justify-content: center;
    padding: 1% 10% 1% 10%;
    background-color: #1f2937;
    color: #E5E7EB;
}